<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.jsp" />
                <add value="markdown样式.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".jsp" mimeType="application/jsp" />
        </staticContent>
        <handlers accessPolicy="Read, Execute, Script">
            <remove name="ISAPI-dll" />
<!--            <add name="ISAPI-dll" path="*.dll" verb="*" modules="IsapiModule" scriptProcessor="C:\Users\Administrator\Desktop\program\firstweb\WebContent\isapi_srun.dll" resourceType="Either" requireAccess="Execute" allowPathInfo="true" preCondition="bitness64" />
!-->    </handlers>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".jsp" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    </system.webServer>
</configuration>
